@media only screen and (max-width: 480px) {
    /* For mobile phones */
    body {
        background-color: red;
    }
    /*
    #medium {
        display: none;
    }
    #large {
        display: none;
    }
    */
    div {
        width: 100%;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    /* For tables */
    body {
        background-color: green;
    }
    /*
    #small {
        display: none;
    }
    #large {
        display: none;
    }
    */
    #small {
        width: 50%;
        float: left;
    }
    #medium {
        width: 20%;
        float: right;
    }
    #large {
        width: 90%;
        float: left;
    }
}

@media only screen and (min-width: 1024px) {
    /* For computers */
    body {
        background-color: blue;
    }
    /*
    #small {
        display: none;
    }
    #medium {
        display: none;
    }
    */
    #small {
        float: left;
        width: 20%;
    }
    #medium {
        float: left;
        width: 20%;
    }
    #large {
        float: right;
        width: 20%;
    }
}

div {
    padding: 5%;
}

div h1 {
    font-size: 10vw;
    font-family: 'Flamenco', cursive;
    text-align: center;
}

div p {
    font-size: 5vw;
    font-family: 'Flamenco', cursive;
    text-align: left;
}

/* code for the google font
    font-family: 'Flamenco', cursive;
*/