@media only screen and (max-width: 480px) {
    /* For mobile phones */
    body {
        background-color: red;
    }
    #medium {
        display: none;
    }
    #large {
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1024px) {
    /* For tables */
    body {
        background-color: green;
    }
    #small {
        display: none;
    }
    #large {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    /* For computers */
    body {
        background-color: blue;
    }
    #small {
        display: none;
    }
    #medium {
        display: none;
    }
}

/* code for the google font
    font-family: 'Flamenco', cursive;
*/